body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 16px;
}

body, html {
    margin: 0;
    padding: 0;
}

.introContainer { 
background-image: url(pexels-pixabay-53594.jpg);
align-content: center;
margin: 0;
padding: 0;
}

.experienceContainer {
    background-image: url(pexels-geoffduke-611928.jpg);
    align-content: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-family:'Didot', Georgia, serif;
}

.introImage {
    width: 90%;
}
